# Ignore all images and masks
nnNet_training/Raw_data/Dataset_train_val/imagesTr/
nnNet_training/Raw_data/Dataset_train_val/labelsTr/
dataset_test/raw
dataset_test/annotations
dataset_test/post_prediction
dataset_test/preprocessed
dataset_test/raw_prediction
dataset_test/labels
nnNet_training/Raw_data/Dataset_Train_val/annotations


# Ignore model checkpoints
nnNet_training/nnUNet_results/Dataset_Train_val/nnUNetTrainer__nnUNetPlans__2d/fold_0/checkpoint_best.pth
nnNet_training/nnUNet_results/Dataset_Train_val/nnUNetTrainer__nnUNetPlans__2d/fold_0/checkpoint_final.pth
model_folder/

# Ignore preprocessed data
nnNet_training/nnUNet_preprocessed/Dataset_Train_val/gt_segmentations/
nnNet_training/nnUNet_preprocessed/Dataset_Train_val/nnUNetPlans_2d/
